<div>
    <h1>Servicio de mensajería</h1>
    <form id="chatForm">
        <input id="chatBox">
        <button type="submit">Send</button>
    </form>
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>