<div>
    <h1>Log in</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
        <p id="error"></p>

    </form>
    <p>Don't you have an account yet? Sign up <a href="/register">here</a></p>
</div>
<script src="/js/login.js"></script>