<div>
    <h1>Log in</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
        <p id="error"></p>
    </form>
    <div>
        <a href="/api/sessions/github"><button>Log in with GitHub</button></a>
    </div>
    <p>Did you forget your password? Reset it <button type="submit" id="reset-password">here</button></p>
    <p>Don't you have an account yet? Sign up <a href="/register">here</a></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>