<div>
    <h1>Sign up</h1>
    <form id="registerForm">
        <label>Name</label>
        <input name="first_name">
        <br/>
        <label>Surname</label>
        <input name="last_name">
        <br/>
        <label>Age</label>
        <input name="age">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>Do you have an account? Log in <a href="/login">here</a></p>
</div>
<script src="/js/register.js"></script>