
<!DOCTYPE html>
<html>
<head>
    <title>Handlebars CSS Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
<div class="login">
    <h1>Your link had expired</h1>
    <p>Please press the "Re-generate" button to re-generate a link</p>
    <button type="submit" class="btn bigg" id="reset-password">Re-generate</button>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newLink.js"></script>
</body>
</html>