<div>
    <h1>Your link had expired</h1>
    <p>Please press the "Re-generate" button to re-generate a link</p>
    <button type="submit" id="reset-password">Re-generate</button>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newLink.js"></script>